{%extends 'Ask_the_doctor/base.html'%}
{%block content%}

<style type="text/css">
    body{
    background-color:#EEEEE0;
    }
</style>

<br><br>
<div class="container" >
    <div class="row" style="background-color:white;">

        <div class="col-lg-6 col-md-6 col-xs-12 offset-lg-4 offset-md-4" >
              <br><br>
            <form method="get" id="offensive_content_type">

                <input type="radio" value="sc" name="reason" >
                <label for="sc">Sexual content</label><br>
                <input type="radio" value="vr" name="reason" >
                <label for="vr">Violent or repulsive content</label><br>
                <input type="radio" value="ha" name="reason" >
                <label for="ha">Hateful or abusive content</label><br>
                <input type="radio" value="hd" name="reason">
                <label for="hd">Harmful or dangerous content</label><br>
                <input type="radio" value="sm" name="reason" >
                <label for="sm">Spam or misleading</label><br>
                <a href="/community_forum/questions/{{question.id}}/">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="report">

            </form>
            <br><br>
        </div>
    </div>
</div>

{% endblock %}
